---
import { getRelativeLocaleUrl } from 'astro:i18n';
/* console.log('EN file # #################');
console.log('Astro.preferredLocale: ' + Astro.preferredLocale);
console.log('Astro.preferredLocaleList: ' + Astro.preferredLocaleList);
console.log('Astro.currentLocale: ' + Astro.currentLocale); */
---

<a href="/">Let's go!</a>
